@charset "UTF-8";
@import 'config';


.fa {
    &.fa-bars,
    &.fa-navicon,
    &.fa-reorder,
    &.fa-globe,
    &.fa-cog,
    &.fa-cogs,
    &.fa-gears,
    &.fa-sign-out,
    &.fa-search,
    &.fa-times,
    &.fa-times-circle,
    &.fa-close,
    &.fa-remove,
    &.fa-chevron-down,
    &.fa-ellipsis-v,
    &.fa-paperclip,
    &.fa-tasks,
    &.fa-plus,
    &.fa-unlock,
    &.fa-lock,
    &.fa-envelope,
    &.fa-home,
    &.fa-bullhorn,
    &.fa-sliders,
    &.fa-chevron-left,
    &.fa-chevron-right,
    &.fa-reply,
    &.fa-reply-all,
    &.fa-share-alt,
    &.fa-star,
    &.fa-bookmark,
    &.fa-ellipsis-h,
    &.fa-bell,
    &.fa-eraser,
    &.fa-users,
    &.fa-file-text,
    &.fa-user-plus,
    &.fa-address-book,
    &.fa-address-book-o,
    &.fa-list,
    &.fa-list-ul,
    &.fa-eye,
    &.fa-eye-slash,
    &.fa-pencil,
    &.fa-trash,
    &.fa-play,
    &.fa-external-link,
    &.fa-retweet,
    &.fa-link,
    &.fa-pause,
    &.fa-volume-up,
    &.fa-volume-off,
    &.fa-expand,
    &.fa-download,
    &.fa-arrows-alt {
        font-family: "Material Icons";
    }
}

.fa {
    &.fa-bars:before, &.fa-navicon:before,&.fa-reorder:before { content: "menu" }
    &.fa-globe:before { content: "public" }
    &.fa-cog:before, &.fa-cogs:before, &.fa-gears:before { content: "settings" }
    &.fa-sign-out:before { content: "exit_to_app" }
    &.fa-search:before { content: "search" }
    &.fa-times:before, &.fa-times-circle:before, &.fa-close:before, &.fa-remove:before { content: "close" }
    &.fa-chevron-down:before, &.fa-ellipsis-v:before { content: "more_vert" }
    &.fa-paperclip:before { content: "attach_file" }
    &.fa-tasks:before { content: "poll" }
    &.fa-plus:before { content: "add" }
    &.fa-unlock:before { content: "lock_open" }
    &.fa-lock:before { content: "lock" }
    &.fa-envelope:before { content: "mail" }
    &.fa-home:before { content: "home" }
    &.fa-bullhorn:before { content: "announcement" }
    &.fa-sliders:before { content: "tune" }
    &.fa-chevron-left:before { content: "arrow_back" }
    &.fa-chevron-right:before { content: "arrow_forward" }
    &.fa-reply:before { content: "reply" }
    &.fa-reply-all:before { content: "reply_all" }
    &.fa-share-alt:before { content: "share" }
    &.fa-bookmark:before { content: "bookmark" }
    &.fa-ellipsis-h:before { content: "more_horiz" }
    &.fa-bell:before { content: "notifications" }
    &.fa-eraser:before { content: "clear_all" }
    &.fa-users:before { content: "people" }
    &.fa-file-text:before { content: "web" }
    &.fa-user-plus:before { content: "person_add" }
    &.fa-address-book:before { content: "explore" }
    &.fa-address-book-o:before { content: "explore" }
    &.fa-list:before { content: "list" }
    &.fa-list-ul:before { content: "list" }
    &.fa-eye:before { content: "visibility" }
    &.fa-eye-slash:before { content : "visibility_off" }
    &.fa-pencil:before { content: "create" }
    &.fa-trash:before { content: "delete" }
    &.fa-play:before { content: "play_arrow" }
    &.fa-external-link:before { content: "open_in_new" }
    &.fa-retweet:before { content: "repeat" }
    &.fa-link:before { content: "link" }
    &.fa-pause:before { content: "pause" }
    &.fa-volume-up:before { content: "volume_up" }
    &.fa-volume-off:before { content: "volume_off" }
    &.fa-expand:before { content: "web_asset" }
    &.fa-download:before { content: "file_download" }
    &.fa-arrows-alt:before { content: "fullscreen" }
}

.status__action-bar-button.icon-button,
.bookmark-icon.icon-button {
    .fa.fa-bookmark:before { content: "bookmark_border" }
    &.active .fa.fa-bookmark:before { content: "bookmark" }
}