@charset "UTF-8";
@import '../theme/mixins';


// Navigation bar radius
$nav-bar-radius: 2px;


// Search bar radius
$search-bar-radius: 2px;


// Bar radius settings
$bar-radius: 0;


// Button radius settings
$button-radius: 2px;


// Card radius settings
$card-radius: 2px;


// Dialog radius settings
$dialog-radius: 2px;


// Menu radius settings
$menu-radius: 2px;


// Media radius settings
$media-radius: 0;


// Navigation drawer item settings
$nav-drawer-item-radius: 0;


// Avater cropping settings
$avater-radius: 50%;  // Rounded cropping
//$avater-radius: 2px  // Material v1 square


// Chip settings
$outlined-chip: false;  // Material v1 styled contained chip


// Button shadow
$button-shadow: true;  // Material v1 styled colored button with shadow


// Floating Action Button size
$fab-size: 56px;