@charset "UTF-8";


// Base color
$primary-color: #4285f4;
$secondary-color: #db4437;
$error-color: #B00020;
$verified-color: #4caf50;

// Text color
$primary-text-color: #000000;
$secondary-text-color: #5f6368;
$ui-text-color: #202124;
$inverted-text-color: #ffffff;
$section-text-color: $primary-color;
$info-text-color: #5e5e5e;
$tips-text-color: #c0c0c0;
$disabled-text-color: rgba(0,0,0,.54);
$link-text-color: #4285f4;
$menu-text-color: $ui-text-color;
$top-bar-text-color: $ui-text-color;
$search-bar-text-color: $primary-text-color;

// Background-color
$background-color: #ffffff;
$menu-background-color: $background-color;
$menu-background-hover-color: darken($menu-background-color, 6%);
$menu-background-active-color: darken($menu-background-color, 10%);
$menu-background-active-hover-color: darken($menu-background-color, 16%);
$card-background-color: $background-color;
$card-background-inactive-color: darken($card-background-color, 6%);
$list-background-color: $background-color;
$list-background-inactive-color: darken($list-background-color, 6%);
$verified-background-color: lighten($verified-color, 20%);

// Chip color
$contained-chip-color: #e0e0e0;
$contained-chip-hover-color: darken($contained-chip-color, 6%);
$contained-chip-selected-color: darken($contained-chip-color, 12%);
$outlined-chip-color: #ffffff;
$outlined-chip-hover-color: darken($outlined-chip-color, 6%);
$outlined-chip-selected-color: darken($outlined-chip-color, 12%);

// Badge color
$badge-color: $primary-color;
//$badge-color: $secondary-color;

// Icon color
$icon-color: #757575;
$icon-hover-color: darken($icon-color, 30%);
$icon-background-hover-color: transparentize(#000000, 0.9);
$icon-background-active-color: transparentize(#000000, 0.8);
$disabled-icon-color: lighten($icon-color, 16%);
$top-bar-icon-color: $icon-color;
$top-bar-icon-hover-color: $icon-hover-color;
$top-bar-icon-active-color: $primary-color;
$media-icon-color: transparentize(#ffffff, 0.4);
$media-icon-hover-color: transparentize(#ffffff, 0.2);
$media-icon-background-color: transparentize(#000000, 0.5);
$control-border-color: $icon-color;

// Button color
$icon-button-color: $icon-color;
$icon-button-hover-color: $icon-hover-color;
$icon-button-active-color: $primary-color;
$icon-button-active-hover-color: lighten($icon-button-active-color, 10%);
$contained-button-color: $primary-color;
$contained-button-hover-color: lighten($contained-button-color, 10%);
$outlined-button-color: $primary-color;
$outlined-button-hover-color: lighten($primary-color, 36%);
$outlined-button-active-color: lighten($primary-color, 30%);
$text-button-color: $primary-color;
$text-button-hover-color: transparentize($text-button-color, 0.8);
$text-button-focus-color: transparentize($text-button-color, 0.7);
$floating-action-button-color: #ffffff;
$floating-action-button-hover-color: darken($floating-action-button-color, 6%);
$floating-action-button-active-color: darken($floating-action-button-color, 10%);
$floating-action-button-icon-color: $secondary-color;

// Toggle color
$toggle-thumb-color: #ffffff;
$toggle-track-color: darken($toggle-thumb-color, 18%);
$toggle-thumb-active-color: #1a73e8;
$toggle-track-active-color: lighten($toggle-thumb-active-color, 18%);

// Border color
$border-color: #dadce0;
$border-active-color: darken($border-color, 30%);

// Scroll bar color
$scroll-bar-thumb-color: darken($background-color, 20%);
$scroll-bar-thumb-hover-color: darken($background-color, 30%);
$scroll-bar-thumb-active-color: darken($background-color, 38%);

// App bar color
$top-bar-color: $background-color;
$search-bar-color: darken($background-color, 6%);
$search-bar-focus-color: $background-color;

// Tab color
$tab-indicator-color: $primary-color;
$tab-indicator-background-hover-color: transparentize($tab-indicator-color, 0.8);
$tab-indicator-background-focus-color: transparentize($tab-indicator-color, 0.7);