$color-scheme: light !default;

// Base color
$primary-color: #4285f4 !default;
$secondary-color: #db4437 !default;
$caution-color: #bf5900 !default;
$error-color: #B00020 !default;
$positive-color: #4caf50 !default;

// Text color
$primary-text-color: #000000 !default;
$secondary-text-color: #5f6368 !default;
$ui-text-color: #202124 !default;
$inverted-text-color: #ffffff !default;
$section-text-color: $primary-color !default;
$info-text-color: #5e5e5e !default;
$tips-text-color: #c0c0c0 !default;
$disabled-text-color: rgba(0,0,0,.54) !default;
$link-text-color: #4285f4 !default;
$caution-text-color: $caution-color;
$positive-text-color: $positive-color;
$menu-text-color: $ui-text-color !default;
$top-bar-text-color: $ui-text-color !default;
$search-bar-text-color: $primary-text-color !default;
$contained-button-text-color: #ffffff !default;
$primary-text-on-shadow-color: #ffffff !default;
$text-field-color: $ui-text-color !default;

// Background-color
$bg-color: #ffffff !default;
$menu-bg-color: $bg-color !default;
$menu-bg-hover-color: darken($menu-bg-color, 6%) !default;
$menu-bg-active-color: darken($menu-bg-color, 10%) !default;
$menu-bg-active-hover-color: darken($menu-bg-color, 16%) !default;
$card-bg-color: $bg-color !default;
$card-bg-hover-color: darken($card-bg-color, 6%) !default;
$succeeded-card-bg-color: lighten($positive-color, 36%) !default;
$list-bg-color: $bg-color !default;
$list-bg-hover-color: darken($list-bg-color, 6%) !default;
$list-bg-active-color: darken($list-bg-color, 10%) !default;
$list-bg-active-hover-color: darken($list-bg-color, 16%) !default;
$list-bg-inactive-color: darken($list-bg-color, 10%) !default;
$text-field-bg-color: $card-bg-color !default;
$dropdown-field-bg-color: darken($bg-color, 6%) !default;
$dropdown-field-bg-hover-color: darken($dropdown-field-bg-color, 6%) !default;
$dropdown-field-bg-active-color: darken($dropdown-field-bg-color, 10%) !default;
$verified-bg-color: lighten($positive-color, 20%) !default;
$unread-bg-color: transparentize($primary-color, 0.8) !default;

// Chip color
$contained-chip-color: #e0e0e0 !default;
$chip-selected-text-color: $primary-color !default;
$contained-chip-hover-color: darken($contained-chip-color, 6%) !default;
$contained-chip-selected-color: transparentize($chip-selected-text-color, 0.7) !default;
$outlined-chip-color: #ffffff !default;
$outlined-chip-hover-color: darken($outlined-chip-color, 6%) !default;
$outlined-chip-selected-color: transparentize($chip-selected-text-color, 0.8) !default;
$outlined-chip-selected-border-color: transparentize($chip-selected-text-color, 0.7) !default;

// Relationship tag color
$relationship-tag-color: transparentize(#e0e0e0, 0.2) !default;

// Badge color
$badge-color: $primary-color !default;
//$badge-color: $secondary-color !default;

// Icon color
$icon-color: #757575 !default;
$icon-hover-color: darken($icon-color, 30%) !default;
$icon-bg-hover-color: transparentize(#000000, 0.9) !default;
$icon-bg-active-color: transparentize(#000000, 0.8) !default;
$disabled-icon-color: lighten($icon-color, 16%) !default;
$top-bar-icon-color: $icon-color !default;
$top-bar-icon-hover-color: $icon-hover-color !default;
$top-bar-icon-active-color: $primary-color !default;
$top-bar-unread-icon-color: $secondary-color !default;
$media-icon-color: transparentize(#ffffff, 0.4) !default;
$media-icon-hover-color: transparentize(#ffffff, 0.2) !default;
$media-icon-bg-color: transparentize(#000000, 0.5) !default;
$media-icon-bg-hover-color: transparentize(#000000, 0.8) !default;
$boosted-icon-color: $primary-color !default;
$favorite-icon-color: #ffd600 !default;  // Star
//$favorite-icon-color: #ff4081 !default;  // Heart
//$favorite-icon-color: #db4437 !default;  // +1
//$favorite-icon-color: #ffffff !default;  // inverted +1 (for plus plugin)

// Control color
$control-border-color: $icon-color !default;
$control-border-active-color: $primary-color !default;
$control-border-hover-color: transparentize($control-border-active-color, 0.8) !default;

// Button color
$icon-button-color: $icon-color !default;
$icon-button-hover-color: $icon-hover-color !default;
$icon-button-active-color: $primary-color !default;
$icon-button-active-hover-color: lighten($icon-button-active-color, 10%) !default;
$contained-button-color: $primary-color !default;
$contained-button-hover-color: lighten($contained-button-color, 6%) !default;
$contained-button-active-color: lighten($contained-button-color, 10%) !default;
$outlined-button-color: $primary-color !default;
$outlined-button-hover-color: transparentize($outlined-button-color, 0.8) !default;
$outlined-button-active-color: transparentize($outlined-button-color, 0.7) !default;
$text-button-color: $primary-color !default;
$text-button-hover-color: transparentize($text-button-color, 0.8) !default;
$text-button-focus-color: transparentize($text-button-color, 0.7) !default;
$disabled-button-color: #cccccc !default;
$floating-action-button-color: #ffffff !default;
$floating-action-button-hover-color: darken($floating-action-button-color, 6%) !default;
$floating-action-button-active-color: darken($floating-action-button-color, 10%) !default;
$floating-action-button-icon-color: $primary-color !default;

// Toggle color
$toggle-thumb-color: #ffffff !default;
$toggle-track-color: darken($toggle-thumb-color, 18%) !default;
$toggle-thumb-active-color: #1a73e8 !default;
$toggle-track-active-color: lighten($toggle-thumb-active-color, 18%) !default;

// Border color
$border-color: #dadce0 !default;
$border-hover-color: darken($border-color, 30%) !default;
$border-active-color: $primary-color !default;

// Scroll bar color
$scroll-bar-thumb-color: darken($bg-color, 20%) !default;
$scroll-bar-thumb-hover-color: darken($bg-color, 30%) !default;
$scroll-bar-thumb-active-color: darken($bg-color, 38%) !default;

// App bar color
$top-bar-color: $bg-color !default;
$search-bar-color: darken($bg-color, 6%) !default;
$search-bar-focus-color: $bg-color !default;

// Tab color
$tab-item-color: transparentize(#000000, 0.5) !default;
$tab-item-active-color: $primary-color !default;
$tab-bg-color: $top-bar-color !default;
$tab-bg-hover-color: transparentize($tab-item-active-color, 0.9) !default;
$tab-bg-focus-color: transparentize($tab-item-active-color, 0.8) !default;

// Media indicator color
$media-page-indicator-color: #9e9e9e !default;
$media-page-indicator-active-color: #e6e6e6 !default;

// Progress indicator color
$progress-indicator-color: $primary-color !default;
$progress-indicator-track-color: lighten($progress-indicator-color, 30%) !default;
$loading-indicator-color: $primary-color !default;

// Contents color in read status
$read-primary-text-color: transparentize($primary-text-color, 0.3) !default;
$read-secondary-text-color: transparentize($secondary-text-color, 0.3) !default;
$read-ui-text-color: transparentize($ui-text-color, 0.3) !default;
$read-poll-bar-leading-color: transparentize($progress-indicator-color, 0.3) !default;
$read-poll-bar-color: transparentize($progress-indicator-track-color, 0.3) !default;